.nav {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 3px;

    // @include media-1250 {
    // //    padding:0;
    // }
}

.nav-item_light {
    color: $color-dark-s;
    @extend %transition;

    &:hover {
        color: $color-light-s;
    }

    &:active {
        color: $color-light-s;
        border-bottom: 3px solid $color-primary;
    }

}

.link_nav-active_light {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;

}


.nav-item_dark {
    color: $color-dark-l;
    @extend %transition;

    &:hover {
        color: $color-dark-3xl;
    }

    &:active {
        color: $color-dark-l;
        border-bottom: 3px solid $color-primary;
    }
}

.link_nav-active_dark {
    color: $color-dark-3xl;
    border-bottom: 3px solid $color-primary;
    pointer-events: none;
}
