.addition {
    background: $color-light-l;
    padding: 80px 0 100px;

    @include media-760 {
        padding: 42px 0;
    }
}

.addition__container {
    display: flex;
    justify-content: center;
    column-gap: 30px;

    @include media-1250 {
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px 0;
    }

    @include media-mobile {
        gap: 42px 0;
    }
}

.addition__img {
    margin-top: 10px;
    background: url(../../../assets/img/addition.png);
    width: 505px;
    height: 261px;

    @include media-1250 {
        margin: 0;
    }

    @include media-760 {
        width: 260px;
        height: 135.2px;
        background-size: contain;
    }
}

.addition__text-container {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include media-1250 {
        max-width: 90%;
    }

    @include media-tablet {
        max-width: 380px;
    }

    @include media-760 {
        max-width: 93%;
    }

    @include media-mobile {
        max-width: 280px;
        align-items: center;
    }
}

.addition__title {
    max-width: 300px;
    letter-spacing: 0.06em;
    color: $color-dark-l;

    @include media-1250 {
        max-width: 90%;
    }

    @include media-tablet {
        max-width: 300px;
    }

    @include media-760 {
        max-width: 90%;
    }

    @include media-mobile {
        text-align: center;
        max-width: 220px;
    }
}

.addition__subtitle {
    letter-spacing: 0.06em;
    color: $color-dark-l;

    @include media-mobile {
        letter-spacing: 0;
        line-height: 24px;
    }
}

.addition__card-container {
    display: flex;
    gap: 15px;
    max-width: 349px;
    padding: 10px 15px;
    background: $color-primary;
    border-radius: 9px;
    letter-spacing: 0.06em;
    @extend %transition;
    align-items: center;

    &:hover {
        background: $color-primary-light;
    }
}

.card__icon {
    background: url(../../../assets/icon/credit-card.svg) no-repeat;
    background-size: contain;
    width: 30px;
    height: 23px;
}

.card__number {
    color: $color-dark-l;
    letter-spacing: 0.06em;
    white-space: nowrap;

    @include media-760 {
        font-size: 15px;
        line-height: 17px;
    }
}

.addition__text {
    color: $color-dark-m;

    @include media-mobile {
        text-align: justify;
    }
}