.header {
    padding: 30px 0;

    @include media-1250{
        padding: 30px 20px;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767.5px) {
        flex-wrap: wrap;
        align-items: center;
    }
}

.header-nav {
    display: inline-block;

    @media (max-width: 767.5px){
        display: none;
    }
}