.not-only {
    background: $background-start-screen-gradient;
    background-position: bottom;
    padding-top: 90px;
    // padding-bottom: 243px;
}

.not-only__container {
    display: flex;
    justify-content: space-between;
}

.not-only__text-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
     padding: 163px 42px 243px 0;
     max-width: 502px;
    
}

.not-only__title {
    padding-right: 150px;
    color: $color-text-light;
}

// .text {
// }
.not-only__text {
    color: $color-dark-s;
}

// .not-only__button-container {
//   margin-bottom: 243px;
// }

.not-only__img-container {
    background: url("../../../assets/img/start-screen-puppy.png") no-repeat;
    // background-position: right;
    background-size: contain;
    width: 100%;
    // width: 89vw;
    // height: 42.7vw;
    // height: 80vh;
// height: 728px;
}